*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

img{
    max-height: 300px;
}

body{
    text-align: center;
    background-image: url(../images/lion.jpg);
    background-size: cover;
    background-position: center;
    height: 950px;
}

.choice-container{
    background-color: cornsilk;
    border: solid black;
    margin: 30px 1%;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

header{
    background: rgb(2,0,36);
    background: linear-gradient(9deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
}

button{
    font-size: larger;
    padding: 3px 10px;
    margin: 10px 0;
    border-radius: 5px;
    background: linear-gradient(to right,#C4B454,#3B3D00);
    color: white;
}

header{
    padding: 0 5%;
}

#title{
    font-size: 40px;
}
#history-title{
    font-size: larger;
    text-align: center;
    padding-top: 50px;
}
a{
    color: white;
    border: black solid 1px;
    border-radius: 5px;
    padding: 3px 10px;
}
#clock-container{
padding-bottom: 20px;
}
#saveFunction1{
    margin: auto;
}

.welcome{
    font-size: xx-large;
}
.information{
    font-size: large;
}
.info{
    font-weight: bolder;
    border-bottom: black solid 1px;
}
.response{
    min-height: 20px;
}

#shared-movie-container{
    max-height: 300px;
    overflow-y: auto;
}

.function-description{
    font-size: larger;
    font-weight: bold;
}

footer{
    color: white;
<<<<<<< HEAD
}

img {
    border-radius: 5px;
}

#year-released, #director, #Total-box-office-sales, #star-actors, #rotten-tomatoes {
    font-weight: 700;
}
#choice-1, #choice-2, #movieChoice {
    margin: 12px 0;
    text-align: center;
}

=======
    background: rgb(2,0,36);
    background: linear-gradient(9deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

input{
    width: 100%;
    text-align: center;
}

#history-title{
    width: 50%;
    border-bottom: black solid 3px;
    justify-content: center;
    text-align: center;
}

#history-list{
    max-height: 500px;
    overflow-y: auto;
}

#title{
border: transparent;
}

#historySearches{
    max-height: 600px;
    overflow-y: auto;
    font-weight: bolder;
    font-size: larger;
}

#historySearches p{
    padding: 10px 0;
    margin-top: 10px;
}



/* media queries */
@media screen and (max-width:1200px) {
    footer{
        display: none;
    }
    
}
>>>>>>> 9953d3594be16211c89a8e49861b150047204885
