*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

img{
    max-height: 300px;
}

body{
    text-align: center;
    background-image: url(../images/lion.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
}

.choice-container{
    background-color: cornsilk;
    border: solid black;
    margin: 30px 1%;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

header{
    background: rgb(2,0,36);
    background: linear-gradient(9deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
}

button{
    font-size: larger;
}

header{
    padding: 0 5%;
}

#title{
    font-size: 40px;
}
#history-title{
    font-size: larger;
    text-align: center;
    padding-top: 50px;
}
a{
    color: white;
    border: black solid 1px;
    border-radius: 5px;
}
#clock-container{
padding-bottom: 20px;
}
#saveFunction1{
    margin: auto;
}

/* .hidden{
    display: none;
} */

.gradient{
    background: linear-gradient(to right,#03b8c5,#017179)
}

.btnColor{
    color: white;
}


.welcome{
    font-size: xx-large;
}
.information{
    font-size: large;
}
.info{
    font-weight: bolder;
    border-bottom: black solid 1px;
}
.response{
    min-height: 20px;
}

#shared-movie-container{
    max-height: 300px;
    overflow-y: auto;
}

.function-description{
    font-size: larger;
    font-weight: bold;
}

footer{
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(9deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

.repos{
    padding: 5px 10px;
}


